/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* COLOR PALETTE */
:root{
    --bg-header: #255EE9;
    --bg-footer: #23272A;
    --section-text: #111111;
    --bg-body: #FFFFFF;
    --bg-main-sections: #F6F6F6;
    --button: #7289DA;
}
/* END COLOR PALETTE */

.debug{
    outline: 1px solid black;
}

.line-odd{
    background-color: var(--bg-body);
}

.line-even{
    background-color: var(--bg-main-sections);
}

.container{
    background-color: var(--bg-body);
}

li{
    list-style: none;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.d-flex-reverse{
    display: flex;
    flex-flow: row-reverse wrap;
}

.direction{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


.padding{
    padding:10px;
}

.center{
    text-align: center;
}

.box{
    background-image: url('../discord-assets/jumbo.png');
    background-size: cover;
    background-position: center;
    height: 590px;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: #000000;
}

.btn-light{
    background-color: var(--bg-body);
    text-decoration: none;
    color: #000000;
}
.btn-dark{
    background-color: var(--bg-footer);
    text-decoration: none;
    color: #FFFFFF;
}

.btn-light-blue{
    background-color: var(--button);
    text-decoration: none;
    color: #FFFFFF;
}

.color-nav-links, .text{
    color: var(--bg-body);
}

.bg-articles{
    background-color: var(--bg-main-sections);
}

/* END GENERAL */

/* ======HEADER====== */

header{
    background-color: var(--bg-header);
}

nav, .header-about, .links, article{
    max-width: 1200px;
    margin: 0 auto;
}

.nav-layout{
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.nav-menu, .links{
    width: 505px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-about{
    justify-content: center;
}

.paragraph{
    
    max-width: 680px;
}

.main-title{
    display: block;
    position: relative;
    font-size: 4rem;
}

div > p {
    text-align: center;
}

.button-sing-in{
    width: 124px;
}

.button{
    width: 235px;
}

.button-default-style{
    text-align: center;
    border-radius: 25px;
    height: 40px;
    background-color: #FFFFFF;
}

.button-style-d{
    background-color: var(--bg-footer);
}

.button-style-b{
    background-color: var(--button);
}

.downlogo{
    color: #000000;
    font-size: 15px;
    margin-right: 10px;
}

.downlogo-m{
    color: var(--bg-body);
    font-size: 15px;
    margin-right: 10px;
}


/* ======END HEADER====== */

/* ======MAIN====== */

.format{
    padding: 50px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.images{
    justify-content: center;
    max-width: 100%;
}

img{
    max-width: 100%;
}

.info-box{
    max-width: 40%;
    align-content: center;
}

h2{
    align-items: center;
    font-size: 3rem;
}

.request{
    background-image: url('../discord-assets/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

/* ======END MAIN====== */

/* ======FOOTER====== */

footer{
    background-color: var(--bg-footer);
    color: #FFFFFF;
}

.footer-top{
    justify-content: space-between;
}

.social-language-container{
    max-width: 25%;
}


footer h3{
    color: var(--button);
    font-size: 1.5rem;
}

.languages-selection{
    margin-top: 1rem;
    justify-content: flex-start;
}

.languages-selection img{
    width: 20px;
}

select {
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 3px;
}

.social-icons-container{
    margin-top: 1rem;
    font-size: 1rem;
    max-width: 50%;
    justify-content: space-between;
}

i{
    margin-right: 10px;
}

footer li{
    max-width: 70%;    
    color: #d3d0d0;
    font-size: .8rem;
    margin-left: 40px;
    padding: 10px;
}
.end-list{
    justify-content: space-between;
    max-width: 300px;
}

.title-list span{
    color: var(--button);
    font-weight: bold;
    padding: 10px;
}

.title-list{
    max-width: 70%;
}




/* ======END FOOTER====== */

